<%= render "shared/banner" %>

<div class="container">
  <div class="d-flex align-items-center justify-content-between mt-5 mb-3">
    <h3 class="mb-0">My Lists</h3>
    <%= link_to "Create a movie list", new_list_path, class: "btn btn-flat" %>
  </div>
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-12 col-sm-6 col-md-4 mb-3">
      <%= link_to list_path(list), class:"text-decoration-none" do %>
        <%= render "shared/card_category", list: list %>
      <% end %>
      </div>
    <% end %>
    <br>
    <ul>
      <% @lists.each do |list| %>
        <li><%= link_to list.name, list_path(list) %></li>
      <% end %>
    </ul>
  </div>
</div>
